@import "tailwindcss";


@theme {
    --color-boder: hsl(var(--border));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-card: hsl(var(--card));

    --animate-float: float 6s ease-in-out infinite;
    --animate-pulse-subtle: pulse-suble 4s ease-in-out infinite;
    --animate-fade-in: fade-in 0.7s ease-in forwards;
    --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2 forwards;
    --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.4 forwards;
    --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.6 forwards;
    --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.8 forwards;

    @keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }

    @keyframes pulse-suble {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0.8;
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
    }

    .white {
        --background: 0 0% 100%;
        --foreground: 250 47% 18%;
        --card: #0 0% 98%;
        --primary: 0 0% 100%;
        --primary-foreground: 250 47% 18%;
        --border: 0 0% 90%;
    }

    * {
        @apply box-border;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-background text-foreground transition-colors duration-300;
        font-feature-settingds: "rlig" 1, "calt" 1;
    }
}

@utility contanier {
    margin-inline: auto;

    padding-inline: 2rem @media (min-width: 640px) {
        max-width: 640px;
    }

    @media (width >=768px) {
        max-width: 768px;
    }

    @media (width >=1024px) {
        max-width: 1024px;
    }

    @media (width >=1280px) {
        max-width: 1280px;
    }

    @media (width >=1400px) {
        max-width: 1400px;
    }
}

@utility text-glow {
    @apply relative;
    text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

@utility card-hover {
    @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
}

@utility gradient-border {
    @apply relative rounded-md;
    background: linear-gradient(to right, hsl(var(--card)), hsl(var(--card)));
    background-clip: padding-box;
    border: 1px solid transparent;
}

@utility button {
    @apply px-6 py-2 rounded-full bg-blue-700 text-primary-foreground font-medium transition-all duration-300 hover:scale-105 active:scale-95;
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.6); /* azul (#3B82F6) */
}


#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}